@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/image/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line {
    height: 7px;
    background-color: rgb(59, 59, 59);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;

}

.eng {
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    padding: 7px 25px;
    border-radius: 5px;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red {
    background-color: red;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    font-weight: 400;

}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px red;
}

.main input {
    padding: 15px 90px 15px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: rgb(238, 234, 234);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 88px;
    right: -8px;
    width: 575px;
    height: 225px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}
section.first>div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first>div :nth-child(2){
    font-size: 24px;
}
.faq{
    color: white;
    padding: 34px;
    
}
.faqbox:hover{
    background-color:#414141;
    color: white;
}
.faqbox svg{filter: invert(1);

}
.faq h2{
    text-align: center;
    font-size: 48px ;
}
.faqbox{
    display: flex;
    padding:23px;
    background-color:  #2d2d2d;
    max-width:40vw;
    margin:34px auto;
    justify-content: space-between;
    transition: all 1s ease-in-out;
    font-size: 24px;
    cursor: pointer;
}